.movieCard {
    text-align: center;
}

.movieCard img {
    height: 360px;
    width: 215px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.certiAndLang {
    font-size: 1rem;
    font-weight: 700;
}